<!DOCTYPE html>
  <html>

<head><title>login page</title></head>

<body style="
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url('leaf.jpg');
    background-size:cover;
    background-position:center;
">

<div style="
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    padding:40px;
    border-radius:15px;
    text-align:center;
    color:white;
    width:20%;
">
  	
<h1 align="center" style="color: #8fbc8f "font-weight:bold;><b> Member Login </b></h1>
 
  <form>
	<input type="text" placeholder="Email or Username" required
	style="
	padding-bottom:10px;
	border-radius:5px;
	width:100%;
	background:#dcdcdc;
	font-weight:bold;"
><br><br>

	
	<input type="password" placeholder="Password" required
	style="
	padding-bottom:10px;
	border-radius:5px;
	width:100%;
	background:#dcdcdc;
	font-weight:bold;"
><br><br>

	
	<input type="submit"value="login"
	style="
	padding-bottom:10px;
	padding-top:10px;
	width:100%;
	border-radius:15px;
	background:#1db954;
	cursor:pointer;
	font-weight: bold;"
>
	</form>
</div>
</body>
</html>